<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourfc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AttractionListActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HorsetoothMountainActivity"
            android:label="@string/horsetooth_mountain_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".MountainDescentsActivity"
            android:label="@string/mountain_whitewater_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".FlowerTrialGardenActivity"
            android:label="@string/flower_trial_garden_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".HorsetoothReservoirActivity"
            android:label="@string/horsetooth_reservoir_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".CityParkActivity"
            android:label="@string/city_park_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".MeltingPotActivity"
            android:label="@string/melting_pot_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".MazaKabobActivity"
            android:label="@string/maza_kabob_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".RioGrandeActivity"
            android:label="@string/rio_grande_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".StarOfIndiaActivity"
            android:label="@string/star_of_india_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".LucileActivity"
            android:label="@string/lucile_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".CafeAthensActivity"
            android:label="@string/cafe_athens_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".CafeDeBangkokActivity"
            android:label="@string/cafe_de_bangkok_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".NewBelgiumActivity"
            android:label="@string/new_belgium_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".OdellActivity"
            android:label="@string/odell_brewing_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".AnheuserBuschActivity"
            android:label="@string/anheuser_busch_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".CooperSmithActivity"
            android:label="@string/coopersmith_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".SocialActivity"
            android:label="@string/social_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".MayorOfOldTownActivity"
            android:label="@string/mayor_old_town_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".ColoradoRoomActivity"
            android:label="@string/colorado_room_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".AceGillettsActivity"
            android:label="@string/ace_gilletts_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".ElliotMartiniActivity"
            android:label="@string/elliots_martini_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".TopActivities"
            android:label="@string/top_activities">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".TopRestaurants"
            android:label="@string/top_restaurants">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".TopBreweries"
            android:label="@string/top_breweries">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
        <activity
            android:name=".TopBarsNightlife"
            android:label="@string/top_bars_nightlife">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourfc.MainActivity" />
        </activity>
    </application>

</manifest>